body{
    background-color: #212529;
    color: whitesmoke;
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4em;    
}

#contract{
    background-color: transparent;
    color: #eeeeee;
    outline: none;
    outline-style: none;
    outline-offset: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #eeeeee 1px;
    padding: 3px 10px;
    width: 41%;
}

#contractForm{
    margin-left: 30%;
    margin-top: 5%;
    display:none;
}

#main{
    margin-top: 10%;
    margin-left: 10%;
    display: grid;
    flex-wrap: wrap;
    grid-template-rows: 100px 100px;
    grid-template-areas: 
        "a b"
        "c c";
    
}


#mid{
    margin-left: 30%;
    grid-area: a;
}

#midFilled{
    padding-bottom: 10%;
}

#right{
    width: 100%;
    margin-left: 0%;
    grid-area: b;
    align-items: center;
}

#info{
    grid-area: c;
    margin-top: 40%;
    margin-left: -5%;
    width: 100%;
}



#token{
    margin-left: 20px;
    margin-top: 20px;
}

#chart{
    
    height: 370px; 
    width: 500px;
}

#daily{
    
}

#crypto{
    display: none
}

a{
    color: lightpink
}

#crypto{
    display: none
}

#description{
    margin-top: 5%;
    margin-left: 45%;
}

#ticker{
    display: inline-block;
    
    margin-left: 10px;
    
}



#ath{
    margin: 5%;
   
}


#dataSend{
    display: none;
}
.container {
    font-family: arial;
    font-size: 24px;
    outline: dashed 1px black;
    /* Center child horizontally*/
    display: flex;
    justify-content: center;
  }

  div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 60px;					
    height: 28px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}


.btn-group button {
    background-color: #04AA6D; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
  }
  
  .btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  /* Clear floats (clearfix hack) */
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: #3e8e41;
  }

  .legend rect {
    fill:white;
    stroke:black;
    opacity:0.8; }