body{
    background-color: #212529;
    color: whitesmoke;
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4em;    
}

#contract{
    background-color: transparent;
    color: #eeeeee;
    outline: none;
    outline-style: none;
    outline-offset: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #eeeeee 1px;
    padding: 3px 10px;
    width: 41%;
}

#contractForm{
    margin-left: 30%;
    margin-top: 5%;

}

#main{
    margin-top: 10%;
    margin-left: 10%;
    display: grid;
    flex-wrap: wrap;
    grid-template-rows: 100px 100px;
    grid-template-areas: 
        "a b"
        "c c";
    
}


#mid{
    margin-left: 5%;
    grid-area: a;
    
}

#midFilled{
    margin-right: 20%;
    padding-bottom: 10%;
    border-right: solid gray 1px;
    border-bottom: solid gray 1px;
}

#right{
    width: 100%;
    margin-left: -20%;
    grid-area: b;

}

#info{
    grid-area: c;
    margin-top: 40%;
    margin-left: -5%;
    width: 100%;
}



#token{
    margin-left: 20px;
    margin-top: 20px;
}

#chart{
    
    height: 370px; 
    width: 500px;
}

#daily{
    
}

#crypto{
    display: none
}

a{
    color: lightpink
}

#description{
    margin-top: 5%;
    margin-left: 45%;
}

#ticker{
    display: inline-block;
    
    margin-left: 10px;
    
}



#ath{
    margin: 5%;
   
}

#alert{
    background-color: transparent;
    color: #eeeeee;
    outline: none;
    outline-style: none;
    outline-offset: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #eeeeee 1px;
    padding: 3px 10px;
}

#emailForm{
    background-color: transparent;
    color: #eeeeee;
    outline: none;
    outline-style: none;
    outline-offset: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #eeeeee 1px;
    padding: 3px 10px;
}

#Email{
    margin-top: 20%;
}


#dataSend{
    display: none;
}
